body {
  background-color: grey;
  font-size: 16px;
  /* color: white; */
  font-family: 'Montserrat', sans-serif;
  color: #47525E;
}

img {
  position:relative;
  transform:translate(-50%, -50%);
}

tr {
  font-size: 14px;
  line-height: 20px;
}

table {
  width: 100%;
}

.screen {
  display: block;
  margin-left: auto;
  margin-top: 20px;
  margin-right: auto;
  background-color: white;
  width: 375px;
  height: 1078px;

  /* For map */
  background-image: url(../assets/map.png);
  background-size: contain;
}

.statusbar{
  width: 375px;
  height: 20px;
  background-image: url(../assets/statusbar.png);
  background-size: contain;
}

.navbar {
  background-color: #77D353;
  width: 375px;
  height: 44px;
  color: white;
  vertical-align: text-top;
}

.navbar span {
  margin-bottom: 10px;
  vertical-align: text-top;
}

.title {
  padding: 30px;
  font-weight: bold;
}

.listitem1 {
  margin-top: 331px;
  width: 355px;
  height: 110px;
  background-color: white;
  padding: 10px;
}

.listitem {
  margin-top: 5px;
  width: 355px;
  height: 110px;
  background-color: white;
  padding: 10px;
}

.listitem1 h1 {
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
}

.listitem h1 {
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
}

.fa-chevron-left {
  margin: 10px 10px;
  font-size: 24px;
}

.fa-location-arrow {
  font-size: 20px;
  margin-left: 30px;
}


.tinybus1 {
  width: 30px;
  height: 30px;
  left: 300px;
  top: 9.5px;
}

.tinybus2 {
  width: 30px;
  height: 30px;
  left: 200px;
  top: 309.5px;
}

.tinybus3 {
  width: 30px;
  height: 30px;
  left: 70px;
  top: 109.5px;
}

.biggerbus1 {
  width: 30px;
  height: 35px;
  left: 50px;
  top: 309.5px;
}

.biggerbus2 {
  width: 30px;
  height: 35px;
  left: 90px;
  top: 19.5px;
}

.mapmarker {
  width: 40px;
  height: 40px;
  left: 190px;
  top: 109.5px;
}

#OOS {
  color: grey;
}

#reroute  {
  color: red;
}
